# Configurações do Servidor
PORT=3000
NODE_ENV=production

# Chave de Autenticação Segura (Substitua por uma string de 64 caracteres em produção)
JWT_SECRET=

# Credenciais de Base de Dados (Supabase)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

# Credenciais Públicas para o Frontend
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Outras conexões
DATABASE_URL=
